/* Layout */

@media only screen and (max-width: 767px) {
    .body-container {
        width: 95%;
    }
    .paragraph-container {
        margin-left: 0em;
        margin-right: 0em;
    }
}

@media only screen and (min-width: 768) {
    .body-container {
        max-width: 35em;
    }
    .paragraph-container {
        margin-left: 1em;
        margin-right: 1em;
    }
}

.body-container {
    margin-bottom: 5em;
    margin-left: auto;
    margin-right: auto;
}

hr {
    margin-top: 4em;
    margin-bottom: 4em;
}

div.header {
    padding-left: 0.3em;
    padding-right: 0.3em;
}

ul.quote {
    padding: 2em 1em 0em 2em;
}

li.quote-author, li.quote-source {
    text-align: right;
    padding-right: 2em;
}

h1 {
    padding-bottom: 0.3em;
}

h3 {
    padding-bottom: 0.3em;
}

ol {
    padding-left: 1em;
    padding-right: 1em;
}

p, ul, ol {
    padding-top: 2.5em;
}

p.first-paragraph {
    padding-top: 0em;
}

div.footnote {
    margin-left: 1em;
    margin-right: 1em;
    margin-top: 1.5em;
}

div.footnote > ul.quote {
    margin-bottom: 0em;
}

div.footnote > p {
    padding-top: 0em;
}

div.footnote-header {
    margin-bottom: 0.75em;
}

a.footnote-link {
    margin-right: 0.1em;
}

li.quote-text:first {
    margin-top: 0em;
}

li.quote-text {
    margin-top: 0.75em;
}

h1.chapter-marker {
    margin-top: 1.5em;
}

ul.poetry {
    margin-left: 1.5em;
}

li.poetry-line {
    margin-bottom: 0.0em;
}

.quote-text > p:first-child {
    padding-top: 0em;
}

.centered-text {
    text-align: center;
}

/* Typography */

body {
    font-family: Vollkorn, Georgia, serif;
    color: rgb(30, 30, 30);
    font-size: 16px;
    text-rendering: optimizeLegibility;
}

.body-container {
    font-size: 1.1em;
}

h1, h2, h3, h4, h5, h6 {
    line-height: 120%;
}

h1 {
    font-size: 2.5em;
    color: rgb(0, 0, 0);
}

h2 {
    font-size: 2.1em;
}

h3 {
    font-size: 1.75em;
}


h4 {
    font-size: 1.4em;
    color: rgb(50, 50, 50);
}

p, ul, ol {
    line-height: 1.5em;
}

i {
    font-style: italic;
}

p.big-first-letter:first-letter {
    font-size: 1.9em;
}

li.quote-author, li.quote-source {
    font-style: italic;
}

li.quote-author > i, li.quote-source > i {
    font-style: normal;
}

a {
    color: rgb(70, 70, 170);
}

a.footnote-link {
    text-decoration: none;
}

a.footnote-back-to-text-link {
    font-size: 0.8em;
}

ol.decimal {
    list-style-type: decimal;
    list-style-position: inside;
}

ol.roman {
    list-style-type: upper-roman;
    list-style-position: inside;
}

span.footnote-number {
    font-size: 1.7em;
}
